<article data-category="{{login}}" class="githubfollower">
  <div class="title-date text-left">
    <h2 class="title">{{login}}</h2>
  </div>
  <div class="body-text">
    <a class="modal-show" href="{{html}}"><img class="image image-left" src="{{avatar}}"/></a>
  </div>
  <div class="skills-github">
    <a class="fontawesome-github-alt font-icon" href="{{html}}"><p class='url-text'>{{html}}</p></a>
  </div>
  <hr/>
</article>
